# In-Order Simple Single-Core Baseline
[global]
num_cores = 1
enable_mesi = false
dram_latency = 80

[core]
enable_ooo = false
fetch_width = 1
decode_width = 1
issue_width = 1
commit_width = 1
rob_size = 1
rs_size = 1
num_phys_regs = 32

[branch_predictor]
enabled = true
type = BIMODAL
table_size = 1024

[lsu]
enabled = false

[l1i]
enabled = false

[l1d]
enabled = false

[l2]
enabled = false
